.bgimg{
    background-image: url('../img/bgimg.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    width: 100%;
    height: 790px;
}
.hearderset{
    padding-top: 250px;
    box-sizing: border-box;
}
.hearderset h2{
    font-size: 42px;
}
.hearderset h1{
    font-size: 72px;
    font-weight: bold;
}

/* ####### our service ####### */

.ourservice{
    padding: 100px 0px 60px;
    height: 700px;
}
.ourservice h1{
    font-size: 50px;
    font-weight: bold;
}
.rowsetting{
    margin:80px 0px !important;
}
.rowsetting h2{
    font-size: 33px;
}
.rowsetting p{
    padding: 10px;
    color:#565555 !important;
}
.imgsetting{
    border-radius: 50%;
    height: 100px;
    width: 100px;
}
.imgsetting i{
    margin-top: 20px;
}

/* about */
.about h2{
    font-size: 25px;
}
.aboutmore{

}
/* portfolio */
.portfolio{
    background-image: url('../img/bgimg3.jpg');
    background-size: 100% 100%;
    background-attachment: fixed;
    height: 1100px;
    width: 100%;
    padding: 100px 0px 50px;
}
.portfolio h1{
    font-weight: bold;
    font-size: 50px;
    /* color: white */
}
/* .portfolio p{
    color: white;
} */
.portfoliosett{
    padding-bottom: 25px;
}

/* ourteam */
.ourteam{
    height: 800px;
    padding: 100px 0px 60px;
    width: 100%;
}
.ourteam h1{
    font-weight: bold;
    font-size: 50px;
}
.teamsetting{
    margin-top:70px;
}

/* Contact */
.contact{
    height: 530px;
    width: 100%;
}

/* footer */
.footer{
    height: 50px;
}
.footer h6{
    line-height: 50px;
}

.nav-pills .nav-link.active{
    background:#ffc107 !important;
    border-radius: 50%;
}
/* Responsive */

@media(min-width:992px){

}
@media(min-width:768px) and (max-width:991px){
    .hearderset h2{
        font-size: 25px;
    }
    .hearderset h1{
        font-size: 42px;
        font-weight: bold;
    }
    .ourservice{
        height: 550px;
    }
    .portfolio{
        height: 800px;
    }
    .portfolio .card-title{
        font-size: 33px;
    }
    .ourteam{
        height: 600px;
    }
    .teamsetting img{
        height:200px;
        width:200px;
    }
    .teamsetting h2{
        font-size: 30px;
    }
}
@media(min-width:575px) and (max-width:767px) {
    .hearderset h2{
        font-size: 22px;
    }
    .hearderset h1{
        font-size: 42px;
        font-weight: bold;
    }
    .ourservice{
        height: 550px;
    }
    .portfolio{
        height: 3100px;
    }
    .ourteam{
        height: 1500px;
    }
}
@media(min-width:480px) and (max-width:574px){
    .hearderset h2{
        font-size: 22px;
    }
    .hearderset h1{
        font-size: 42px;
        font-weight: bold;
    }
    .ourservice{
        height: 1000px;
    }
    .portfolio{
        height: 2700px;
    }
    .ourteam{
        height: 1500px;
    }
}
@media(max-width:479px){
    .hearderset h2{
        font-size: 22px;
    }
    .hearderset h1{
        font-size: 42px;
        font-weight: bold;
    }
    .ourservice{
        height: 1000px;
    }
    .portfolio{
        height: 2700px;
    }
    .ourteam{
        height: 1500px;
    }
}